@model CourseViewModel
@{
    ViewData["Title"] = "Add Course";
}
<h1>Add a new course</h1>

<form method="post" asp-action="Add">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="mb-3">
        <label class="form-label" asp-for="ActiveCourse.CourseName">Name</label>
        <span class="form-text text-danger" asp-validation-for="ActiveCourse.CourseName"></span>
        <input class="form-control" type="text" asp-for="ActiveCourse.CourseName" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="ActiveCourse.Instructor">Instructor Name</label>
        <span class="form-text text-danger" asp-validation-for="ActiveCourse.Instructor"></span>
        <input class="form-control" type="text" asp-for="ActiveCourse.Instructor" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="ActiveCourse.StartDate">Hours</label>
        <span class="form-text text-danger" asp-validation-for="ActiveCourse.StartDate"></span>
        <input class="form-control" type="date" asp-for="ActiveCourse.StartDate" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="ActiveCourse.RoomNumber">Room Number</label>
        <span class="form-text text-danger" asp-validation-for="ActiveCourse.RoomNumber"></span>
        <input class="form-control" type="text" asp-for="ActiveCourse.RoomNumber" />
    </div>

    <input type="submit" class="btn btn-primary" value="Add" />
    <a class="btn btn-secondary" asp-controller="Course" asp-action="List">Cancel</a>

</form>